<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View - RomlandTube</title>

    <!--Import of CSS-->
    <link rel="stylesheet" href="/CSS/main.css" />
    <link rel="stylesheet" id="customCSS" />

    <!--Import of Local JavaScript-->
    <script src="/js/global.js"></script>
    <script src="/js/index.js"></script>
  </head>
  <body onload="onLoad()">
    <%- include ("partials/header.ejs") %>
    <h1>View - RomlandTube</h1>
    <p> <%- eescape(vid.name) %></p>
    <p> <%- eescape(vid.desc) %> </p>
    <p>Views:  <%- eescape(vid.views) %> </p>
    <video width="320" height="240" controls>
        <source src="<%- vid.link %>" type="<%- vid.mime %>">
        Your browser does not support the video tag.
      </video> 
  </body>
</html>
